
.steps {
	position: relative;
	padding: 120px 0px;
	background-color: $color-bg-ice;
	
	@include media-max(400px) {
		padding: 50px 0px;
	}

	&__title {
		@include media-max(400px) {
			@include font(4.4rem, 5.8rem);
		}
	}

	&__bg {
		position: relative;
		top: -50px;
		right: 70px;
		text-align: right;

		@include media-max(1100px) {
			top: 50px;
			right: 0px;
			text-align: center;
		}
	}

	&__items {
		margin:75px -15px 0px -15px;
		display: flex;

		@include media-max(782px) {
			flex-direction: column;
		};
	}

	&__item {
		flex: 0 1 33.333%;
		margin: 0px 15px;
		padding: 40px;
		background-color: #fff;
		border: 1px solid #fff8f5;
		border-radius: 8px;
		box-shadow: 14px 24px 72px rgba(102, 102, 102, 0.1);
		transition: box-shadow .3s, transform .3s;

		&:hover{
			box-shadow: none;
			transform: scale(.98);
		}

		@include media-max(782px) {
			flex: 0 1 50%;
			margin: 15px 15px;
		};
	}

	&__item-title {
		@include font(2.4rem, 3.4rem);
		margin: 48px 0px 16px 0px;
		color: #222;
	}

	&__item-description {
		@include font(1.6rem, 2.6rem);
		color: #666;
	}
}
