// Modern Local Restriction
@mixin wrapper {
	max-width: $wrapper-max;
	min-width: $wrapper-min;
	min-height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

// Container
@mixin container {
	max-width: $container-max-whidths;
	padding-left: $container-padding;
	padding-right: $container-padding;
	margin: 0 auto;
}
