// Vertical alignment in the center
@mixin flex-center-v {
	display: flex;
	align-items: center;
}

// Alignment in the center
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
